
@font-face {
    font-family: "StarWars";
    src: url(../font/Starjedi.ttf) format(truetype);
}

body{
    display: flex;
    height: 100vh;
    flex-direction: column;
    justify-content:center;
    align-items:center;
    background-color: black;
    margin: 0
}

.jeux {
    width: 900px;
    background-color: rgb(25, 25, 25);
    opacity: 75%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    min-height: 100px;
    height: 100%;
    padding:  0 2% 1% 2%;
    filter: drop-shadow( 0 0 300px rgba(255, 0, 0, 0.5));
    color: red;
    border-radius: 15px;
    font-family: Arial, Helvetica, sans-serif;
}

.jeux2 {
    width: 900px;
    background-color: rgb(25, 25, 25);
    opacity: 75%;
    text-align: center;
    display: flex;
    flex-direction: column;
    min-height: 100px;
    height: 100%;
    padding:  0 2% 1% 2%;
    filter: drop-shadow( 0 0 300px rgba(0, 0, 255, 0.5));
    color: red;
    border-radius: 15px;
    font-family: Arial, Helvetica, sans-serif;
}



.boutons {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
}

.boutons button {
    color: rgb(255, 255, 255);
    border: none;
    background-color: red;
    transition: background-color 0.3s;
    border-radius: 10px;
    width: 10vmin;
    height: 5vmin;
    font-weight: bold;
}

.boutons button:hover {
    background-color: blue;
    transition-delay: 0.01s;
}

#titre1 {
    font-family: "StarWars";
    font-size: 60px;
    margin: 0;
}

#titre {
    text-transform: uppercase;
}

p {
    font-size: 20px;
    font-weight: bold;
}

.hidden{
    display: none;
}

.divVol {
    display: flex;
    flex-direction: row;
    margin: 0;
    justify-content: end;
}

h5 {
    color: rgb(255, 0, 0);
    font-family: Arial, Helvetica, sans-serif;
}
.reset{
    background-color: rgba(255, 0, 0, 0);
    color: rgb(255, 0, 0);
    border-radius: 10px;
    font-weight: bold;
    border: none;
    font-size: 35px;
    font-family: "StarWars";
    letter-spacing: 10px;
}

.reset:hover{
    color: rgb(255, 255, 255);
}

.div-reset {
    text-align:center;
}

.mute {
    color: red;
}


@media only screen and (max-width: 1000px) {
   

    .jeux{
        width: 600px;
        height: 750px;
  }

  .jeux2{
    width: 600px;
    height: 750px;
}

  .boutons button{
    width: 180px;
}

p {font-size: 16px;}
}

@media only screen and (max-width: 650px) {
 

    .jeux{
        width: 400px;
        height: 800px;
    }
    .jeux2{
        width: 400px;
        height: 800px;
    }
    .boutons{
        height: 100px;
        flex-direction: column;
        align-items: center;
    }

    .boutons button{
        width: 250px;
        height: 27px;
    }

    .reset{
        text-align: center;
    }

    #titre {
        font-size: 25px;
    }
    

    #titre1 {
        font-size: 40px;
        margin: 0;
    }  

    p {font-size: 16px;}

}

@media only screen and (min-width: 1000px) {

.jeux{
    width: 700px;
     height: 800px;
}
.jeux2{
    width: 700px;
     height: 800px;
}
.boutons button{
    width: 180px;
}

p {font-size: 16px;}

#titre {
    font-size: 22px;
}

}





@media only screen and (max-width: 450px) {
 
    .jeux{
        width: 300px;
        height: 700px;
    }
    .jeux2{
        width: 300px;
        height: 700px;
    }
    .boutons{
        height: 100px;
        flex-direction: column;
        align-items: center;
    }

    .boutons button{
        width: 250px;
        height: 20px;
    }

    .reset{
        text-align: center;
    }

    #titre {
        font-size: 20px;
    }
    

    #titre1 {
        font-size: 40px;
        margin: 0;
    }  

    p {font-size: 14px;}

}


@media only screen and (max-width: 380px) {
 
    body{
        background-color: aliceblue;
    }
    .jeux{
        width: 220px;
        height: 550px;
    }
    .jeux2{
        width: 220px;
        height: 550px;
    }
    .boutons{
        height: 100px;
        flex-direction: column;
        align-items: center;
    }

    .boutons button{
        width: 120px;
        height: 18px;
    }

    .reset{
        text-align: center;
    }

    #titre {
        font-size: 15px;
    }
    

    #titre1 {
        font-size: 25px;
        margin: 0;
    }  

    p {font-size: 10px;}

}