
@font-face {
    font-family: "StarWars";
    src: url(../font/Starjedi.ttf) format(truetype);
}

body{
    display: flex;
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    background-color: black;
    margin: 0
}

.jeux {
    width: 900px;
    background-color: rgb(25, 25, 25);
    opacity: 75%;
    text-align: center;
    display: flex;
    flex-direction: column;
    min-height: 100px;
    height: 100%;
    padding:  0 2% 1% 2%;
    filter: drop-shadow( 0 0 300px rgba(255, 0, 0, 0.5));
    color: red;
    border-radius: 15px;
    font-family: Arial, Helvetica, sans-serif;
}

.jeux2 {
    width: 900px;
    background-color: rgb(25, 25, 25);
    opacity: 75%;
    text-align: center;
    display: flex;
    flex-direction: column;
    min-height: 100px;
    height: 100%;
    padding:  0 2% 1% 2%;
    filter: drop-shadow( 0 0 300px rgba(0, 0, 255, 0.5));
    color: red;
    border-radius: 15px;
    font-family: Arial, Helvetica, sans-serif;
}



.boutons {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
}

.boutons button {
    color: rgb(255, 255, 255);
    border: none;
    background-color: red;
    transition: background-color 0.3s;
    border-radius: 10px;
    width: 10vmin;
    height: 5vmin;
    font-weight: bold;
}

.boutons button:hover {
    background-color: blue;
    transition-delay: 0.01s;
}

#titre1 {
    font-family: "StarWars";
    font-size: 60px;
    margin: 0;
}

#titre {
    text-transform: uppercase;
}

p {
    font-size: 20px;
    font-weight: bold;
}

.hidden{
    display: none;
}


.reset{
    background-color: rgba(255, 0, 0, 0);
    color: rgb(255, 0, 0);
    border-radius: 10px;
    width: 10vmin;
    height: 5vmin;
    font-weight: bold;
    border: none;
    font-size: 35px;
    font-family: "StarWars";
    letter-spacing: 10px;
}

.reset:hover{
    color: rgb(255, 255, 255);
}

.div-reset {
    text-align:center;
}